Repository Reserve-Station/Reserve-Station, pull requests merged in 2025-06, with the labels that each got.

#28 Custom ghosts for players
  Resources/Prototypes/_White/CustomGhost/CustomGhosts.yml
  Resources/Textures/_Reserve/CustomGhosts/already-taken-ghost.rsi/animated.png
  Resources/Textures/_Reserve/CustomGhosts/already-taken-ghost.rsi/icon.png
  Resources/Textures/_Reserve/CustomGhosts/already-taken-ghost.rsi/meta.json
  Resources/Textures/_Reserve/CustomGhosts/xelitex-ghost.rsi/animated.png
  Resources/Textures/_Reserve/CustomGhosts/xelitex-ghost.rsi/icon.png
  Resources/Textures/_Reserve/CustomGhosts/xelitex-ghost.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: No C#, size/S

#32 Локализация от Costi #2
  Resources/Locale/ru-RU/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Locale/ru-RU/_DV/prototypes/body/parts/rodentia.ftl
  Resources/Locale/ru-RU/_DV/prototypes/body/parts/vulpkanin.ftl
  Resources/Locale/ru-RU/_DV/taperecorder/taperecorder.ftl
  Resources/Locale/ru-RU/_EinsteinEngines/prototypes/body/parts/ipc.ftl
  Resources/Locale/ru-RU/_EinsteinEngines/prototypes/body/parts/shadowkin.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/alerts.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/apprentices.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/datasets/names/wizard_first.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/datasets/names/wizard_last.ftl
  Resources/Locale/ru-RU/_Goobstation/Wizard/spells-actions.ftl
  Resources/Locale/ru-RU/_Goobstation/nuke/nuke.ftl
  Resources/Locale/ru-RU/_Goobstation/seeds/seeds.ftl
  Resources/Locale/ru-RU/_Goobstation/servercurrency/server_currency.ftl
  Resources/Locale/ru-RU/_Goobstation/skinning/skinning.ftl
  Resources/Locale/ru-RU/_Goobstation/station-events/events/ion-storm.ftl
  Resources/Locale/ru-RU/_Goobstation/station-events/events/tidemind.ftl
  Resources/Locale/ru-RU/_Goobstation/uitoolkit.ftl
  Resources/Locale/ru-RU/_Goobstation/ventcrawling/ventcrawling.ftl
  Resources/Locale/ru-RU/_Imp/Drone/drone-system.ftl
  Resources/Locale/ru-RU/_Imp/Drone/ghost-role-component.ftl
  Resources/Locale/ru-RU/_Imp/prototypes/_drone/Mobs_Player_silicon.ftl
  Resources/Locale/ru-RU/_Imp/prototypes/_drone/drone_tools.ftl
  Resources/Locale/ru-RU/_Lavaland/actions/hierophant.ftl
  Resources/Locale/ru-RU/_Shitmed/abductor/abductor.ftl
  Resources/Locale/ru-RU/_Shitmed/datasets/names/abductor_agent_prefix_dataset.ftl
  Resources/Locale/ru-RU/_Shitmed/datasets/names/abductor_names.ftl
  Resources/Locale/ru-RU/_Shitmed/datasets/names/abductor_scientist_prefix.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/body/parts/abductor.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/body/parts/animal.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/body/parts/animal/carp.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/body/parts/animal/kobold.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/body/parts/animal/monkey.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/_Shitmed/prototypes/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/_Shitmed/surgery/status.ftl
  Resources/Locale/ru-RU/_corvaxnext/battleroyale.ftl
  Resources/Locale/ru-RU/_nyanotrasen/abilities/Oni.ftl
  Resources/Locale/ru-RU/_nyanotrasen/abilities/felinid.ftl
  Resources/Locale/ru-RU/_nyanotrasen/carrying/carry.ftl
  Resources/Locale/ru-RU/_nyanotrasen/items/components/pseudoitem-component.ftl
  Resources/Locale/ru-RU/_nyanotrasen/markings/Oni.ftl
  Resources/Locale/ru-RU/_nyanotrasen/markings/felinid.ftl
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: S: Untriaged, size/M, Changes: No C#

#6 New cargo 'Pilgrim' shuttle
  Resources/Maps/Reserve/Shuttles/cargo_pilgrim.yml
Labels: Changes: Map, size/XL, Changes: No C#

#41 Added emotes cooldown
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Emoting/EmotingComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: S: Untriaged, size/S

#40 Martial arts back
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/CentralCommand/set_selectors.yml
Labels: Changes: No C#, size/S

#43 Admin detection logs small fix
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: S: Untriaged, size/S

#44 Reserve chatsan accent tweaks
  Resources/Locale/ru-RU/_reserve/speech/speech-chatsan.ftl
Labels: size/M, Changes: No C#

#46 Plushie moth in loadouts
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: S: Untriaged, Changes: No C#, size/S

#35 [TWEAK] [MAPPING] Обновлён ReserveSaltern.yml
  Resources/Maps/Reserve/saltern.yml
Labels: S: Untriaged, Changes: Map, size/XL, Changes: No C#

#52 Revenant hotfix
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/revenant.yml
Labels: size/XS, S: Untriaged, S: Needs Review, Changes: No C#

#47 Minor ftl improvements
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: S: Untriaged, S: Needs Review, Changes: No C#, size/S

#61 [Bounty] brepsi
  Resources/Locale/ru-RU/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Textures/_Reserve/Objects/Consumable/Drinks/brepsi.rsi/icon.png
  Resources/Textures/_Reserve/Objects/Consumable/Drinks/brepsi.rsi/icon_open.png
  Resources/Textures/_Reserve/Objects/Consumable/Drinks/brepsi.rsi/inhand-left.png
  Resources/Textures/_Reserve/Objects/Consumable/Drinks/brepsi.rsi/inhand-right.png
  Resources/Textures/_Reserve/Objects/Consumable/Drinks/brepsi.rsi/meta.json
Labels: size/M, Changes: Sprites, Changes: No C#

#68 Improve FTL!
  Resources/Locale/ru-RU/_Goobstation/prototypes/entities/structures/machines/tcprinter.ftl
  Resources/Locale/ru-RU/tips.ftl
Labels: S: Untriaged, size/M, Changes: No C#

#66 [Bounty] More race customization points
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_Goobstation/Species/tajaran.yml
Labels: Changes: No C#, size/S

#70 Guidebook improvements
  Resources/ServerInfo/_Reserve/Guidebook/Antagonist/Heretics.xml
  Resources/ServerInfo/_Reserve/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/_Reserve/Guidebook/Antagonist/SpaceNinja.xml
  Resources/ServerInfo/_Reserve/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/_Reserve/Guidebook/Antagonist/Zombies.xml
  Resources/ServerInfo/_Reserve/Guidebook/Survival.xml
Labels: S: Untriaged, size/M, S: Needs Review, Changes: No C#

#72 Derotate Reserve copies of maps
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Reserve/cluster.yml
  Resources/Maps/Reserve/omega.yml
  Resources/Maps/Reserve/saltern.yml
  Resources/Maps/_Reserve/Shuttles/cargo_corvaxsilly.yml
  Resources/Maps/_Reserve/Shuttles/cargo_pilgrim.yml
  Resources/Maps/_Reserve/Shuttles/emergency_corvaxsilly.yml
  Resources/Maps/_Reserve/sillyisland.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Reserve/Maps/cluster.yml
  Resources/Prototypes/_Reserve/Maps/omega.yml
  Resources/Prototypes/_Reserve/Maps/saltern.yml
  Resources/Prototypes/_Reserve/Maps/sillyisland.yml
Labels: S: Untriaged, Changes: Map, size/XL
