Repository Reserve-Station/Reserve-Station, pull requests merged in 2025-05, with the labels that each got.

#2 [Port] Mapping tools + Royale map fix
  Content.Server/Warps/WarpPointComponent.cs
  Content.Server/Warps/WarpPointSystem.cs
  Content.Server/_CorvaxNext/AdditionalMap/AdditionalMapFixComponent.cs
  Content.Server/_CorvaxNext/AdditionalMap/AdditionalMapFixSystem.cs
  Content.Server/_CorvaxNext/AdditionalMap/StationAdditionalMapComponent.cs
  Content.Server/_CorvaxNext/AdditionalMap/StationAdditionalMapSystem.cs
  Content.Server/_CorvaxNext/BiomeSpawner/Components/BiomeSpawnerComponent.cs
  Content.Server/_CorvaxNext/BiomeSpawner/EntitySystems/BiomeSpawnerSystem.cs
  Content.Server/_CorvaxNext/Warper/WarperComponent.cs
  Content.Server/_CorvaxNext/Warper/WarperSystem.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/warper/warp-point-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/admeme/hand_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/markers/spawners/random/biome/biomespawner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/warps/ladders.ftl
  Resources/Maps/_CorvaxNext/battleroyale.yml
  Resources/Prototypes/_CorvaxNext/Admeme/hand_teleporter.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Warps/ladders.yml
  Resources/Prototypes/_CorvaxNext/Procedural/biomes.yml
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/asteroid.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/cave.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/chromite.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/desert.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/frame.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/grass.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/lava.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/meta.json
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/snow.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/base-blue.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/base-green.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/base-red.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/meta.json
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/portal.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/wall.png
  Resources/Textures/_CorvaxNext/Structures/Warps/ladder.rsi/ladder_bottom.png
  Resources/Textures/_CorvaxNext/Structures/Warps/ladder.rsi/ladder_top.png
  Resources/Textures/_CorvaxNext/Structures/Warps/ladder.rsi/meta.json
Labels: S: Untriaged, Changes: Map, size/XL, Changes: Sprites

#3 disabled publish schedule
  .github/workflows/publish.yml
Labels: Changes: No C#, size/S

#4 Silly island remap
  Resources/Maps/Reserve/sillyisland.yml
Labels: Changes: Map, size/XL, Changes: No C#

#8 Revenant nerf + added electrocutionChance
  Content.Goobstation.Server/ChronoLegionnaire/Components/StasisOnCollideComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/EntityEffects/Effects/Electrocute.cs
  Content.Server/_Shitcode/Wizard/Systems/ThrownLightningSystem.cs
  Content.Shared/Electrocution/Components/ElectrifiedComponent.cs
  Content.Shared/Electrocution/SharedElectrocutionSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/revenant.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/_Goobstation/Actions/revenant.yml
Labels: S: Untriaged, size/M

#19 Remove devil from antag pool until fixed
  Resources/Prototypes/GameRules/roundstart.yml
Labels: S: Untriaged, Changes: No C#, size/S

#20 Syndie airlock paint for spray painter
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: size/XS, S: Untriaged, Changes: No C#

#26 Localization foxes and improvments
  Resources/Locale/ru-RU/_Goobstation/armor/armor-examine.ftl
  Resources/Locale/ru-RU/_Goobstation/atmos/gas-pipe-sensor.ftl
  Resources/Locale/ru-RU/_Goobstation/bingle/bingle.ftl
  Resources/Locale/ru-RU/_Goobstation/blob/blob.ftl
  Resources/Locale/ru-RU/_Goobstation/chat/chat-stacking.ftl
  Resources/Locale/ru-RU/_Goobstation/chat/emotes.ftl
  Resources/Locale/ru-RU/_Goobstation/chat/highlights.ftl
  Resources/Locale/ru-RU/_Goobstation/chat/ui.ftl
  Resources/Locale/ru-RU/_Goobstation/checkinfection/checkinfection.ftl
  Resources/Locale/ru-RU/_Goobstation/clothing/lying-down.ftl
  Resources/Locale/ru-RU/_Goobstation/collective-mind/collective-mind.ftl
  Resources/Locale/ru-RU/_Goobstation/construction/upgrade-kits.ftl
  Resources/Locale/ru-RU/_Goobstation/damage/stamina.ftl
  Resources/Locale/ru-RU/_Goobstation/datasets/names/goob_generators_names_supermatter_last.ftl
  Resources/Locale/ru-RU/_Goobstation/datasets/names/goob_generators_names_tesla_last.ftl
  Resources/Locale/ru-RU/_Goobstation/deathsquad/deathsquad.ftl
  Resources/Locale/ru-RU/_Goobstation/devil/contracts/contract.ftl
  Resources/Locale/ru-RU/_Goobstation/devil/devil.ftl
  Resources/Locale/ru-RU/_Goobstation/enchanting/enchants.ftl
  Resources/Locale/ru-RU/_Goobstation/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_Goobstation/game-ticking/game-presets/preset-calm.ftl
  Resources/Locale/ru-RU/_Goobstation/game-ticking/game-presets/preset-combat.ftl
  Resources/Locale/ru-RU/_Goobstation/game-ticking/game-presets/preset-dynamic.ftl
  Resources/Locale/ru-RU/_Goobstation/holocigar/holo-cigar.ftl
  Resources/Locale/ru-RU/_Goobstation/holopad/holopad.ftl
  Resources/Locale/ru-RU/_Goobstation/item/panicbutton.ftl
  Resources/Locale/ru-RU/_Goobstation/itemswitch/itemswitch.ftl
  Resources/Locale/ru-RU/_Goobstation/machines/silo.ftl
  Resources/Locale/ru-RU/_Goobstation/martial-arts/martial-arts.ftl
  Resources/Locale/ru-RU/_Goobstation/mech/mechs.ftl
Labels: S: Untriaged, size/M, S: Needs Review, Changes: No C#
